@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #242831;
$color_2: #292e38;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color_1;
  font-family: $font1;
  color: white;
}

nav {
  position: absolute;
  background-color: $color_2;
  display: grid;
  justify-content: center;
  width: 100vw;
  height: 5em;
  left: 0;
  top: 0;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 1.5em 5vw 0 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #rluo {
    font-size: 30px;
  }
}

.calculator-container {
  position: relative;
  margin: 0 auto 0 auto;
  background-color: rgb(18, 46, 68);
  width: 80vw;
  height: 80vh;
  border-radius: 5%;

  .calculator {
    padding: 5em;
    display: grid;
    justify-content: center;
    top: 10%;
  }

  .btn-pad {
    display: grid;
    grid-template-rows: repeat(4, 6vw);
    grid-template-columns: repeat(4, 6vw);
    grid-gap: 1em 1em;
    justify-items: center;
    background-color: red;
    padding: 1em;

    .elem {
      height: 5vw;
      width: 5vw;
      background-color: darkgrey;
    }

    #display {
      grid-column: 1/5;
      width: 90%;
    }

    #clear {
      grid-column: 1/3;
      width: 100%;
    }

    #delete {
      grid-column: 3/5;
      width: 100%;
    }

    #add {
      grid-column: 4/4;
      grid-row: 3/3;
    }

    #subtract {
      grid-column: 4/4;
      grid-row: 4/4;
    }

    #multiply {
      grid-column: 4/4;
      grid-row: 5/5;
    }

    #divide {
      grid-column: 4/4;
      grid-row: 6/6;
    }
  }
}
