@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

$color_1: #242831;
$color_2: #292e38;
$color_3: #323844;
$color_4: #a91fb3;
$color_5: #dc27e9;
$padding: 4em;
$font1: "Poppins", sans-serif;
$font2: "Lora", serif;
$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $color_1;
  font-family: $font1;
  color: white;
}

nav {
  position: absolute;
  background-color: $color_2;
  width: 100vw;
  height: 5em;
  left: 0;
  top: 0;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 1.5em 5em 0 0;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.calculator-container {
  position: relative;
  margin: 0 auto 0 auto;
  background-color: rgb(18, 46, 68);
  width: 80vw;
  height: 80vh;
  border-radius: 5%;

  .calculator {
    top: 10%;
    display: block;
    position: relative;
    margin: 0 auto 1em auto;
    width: 30vw;
    padding: 1em;
    background-color: purple;
    border-radius: 10%;
  }

  .display {
    margin: 1em auto 1em auto;
    width: 23vw;
    height: 9vw;
    background-color: green;
    border-radius: 5%;
  }

  .btn-pad {
    display: flex;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 6vw);
    grid-template-rows: repeat(4, 6vw);

    .btn {
      border-radius: 10%;
      height: 5vw;
      width: 5vw;
      background-color: darkgrey;
    }
  }
}
